<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<system.serviceModel>
      <bindings>
            <netTcpBinding>
                  <binding name="TCP" sendTimeout="00:03:00" maxBufferPoolSize="2147483647"
                        maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                        <reliableSession enabled="true" />
                  </binding>
                  <binding name="TCP1">
                        <reliableSession enabled="true" />
                  </binding>
            </netTcpBinding>
      </bindings>
        <client>
                <endpoint address="net.tcp://localhost:8733/ReferenceDataService/"
                        binding="netTcpBinding" bindingConfiguration="TCP" contract="ReferenceData.IReferenceDataService"
                        name="ReferenceData_TCP">
                        <identity>
                                <dns value="localhost" />
                        </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost:8733/TradeService/" binding="netTcpBinding"
                        bindingConfiguration="TCP" contract="TradeData.ITradeService"
                        name="TCP">
                        <identity>
                                <dns value="localhost" />
                        </identity>
                </endpoint>
        </client>
    </system.serviceModel>
</configuration>
